*,*::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #152c33;
    font-size: 1.5rem;
    color:#504B4B;
    padding: 0.5em;
}

.main-container{
    margin:2em auto;
    padding:1em 1.5em;
    width: 100%;
    max-width: 20em;
    background-color: #080808;
    border-radius: 20px;
    box-shadow: inset 20px 10px 5px red,
                inset -15px -10px 5px red;
}

.top{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

#brand{
    font-family: 'Encode Sans Expanded', sans-serif;
}

#top-rect{
    background-color: #172020;
    border: 5px solid #2c3f3f;
    width:60%;
    height: 2em;
    border-radius: 10px;
}

.input-div{
    margin:1em auto;
    padding: 0.4em 0.7em;
    background-color: #093131;
    height:5em;
    width: 98%;
    border-radius: 10px;
    display:grid;
    grid-template-rows: 1fr 1em;
}

#input{
    width: 100%;
    height: 115%;
    font-family: 'Orbitron', sans-serif;
    border: 4px solid #2c3f3f;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: space-between;
    overflow-x: auto;
}

#input-field{
    height: 80%;
    margin: 0.7em 0.5em 0 0;
    color: #898989;
    font-size: 1.5rem;
    overflow-x: auto;
    scrollbar-width: none;
}

#solution{
    height:20%;
    color: #608FB1;
    margin: 0.3em 1em 0 0;
    font-size: 1rem;
    justify-self:end;
    transition: 1s ease-in;
}

.button-div{
    margin-top: 1em;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap:0.5em;
    align-items: center;
    justify-items:center;
    max-width: 100%;
}

@media (max-width: 410px){
    .button-div{
        grid-gap: 0.3em;
    }
}

button{
    padding: 0.5em;
    width: 100%;
    max-width: 3em;
    height:100%;
    font-family: 'Orbitron', sans-serif;
    font-size: clamp(1rem, 5vw, 1.5rem);
    color: #cfcfcf;
    border:none;
    border-radius: 8px 8px 15px 15px;
    background-color: #151414;
    box-shadow: inset 3px 5px 2px rgba(53, 52, 52, 0.7),
                inset -3px -5px 4px #000000;
    cursor: pointer;
    transition: all .3s;
}

button:hover{
    transform: scale(1.09);
}

button:active{
    transform: scale(0.97);
    background-color: #272626;
}

.small-btn{
    padding-bottom: 1.5em;
    font-size: clamp(0.9rem, 5vw, 1.3rem);
    height: 1.8em;
}

.red-btn{
    box-shadow: inset 3px 5px 2px rgba(99, 73, 73, 0.7);
    background-color: #4C1818;
}

.red-btn:active{
    background-color: rgb(136, 29, 29);
}

.blue-btn{
    box-shadow: inset 3px 5px 2px #263441;
    background-color: #082031;
}

.blue-btn:active{
    background-color: #10395a;
}

#version{
    grid-area: 1/1/2/5;
    align-self:center;
    justify-self:start;
    margin-left: 2em;
}

#plus-sign{
    grid-area: 5/5/7/6;
}

#on{
    font-size: 1.125rem;
    margin-top:-0.2em;
}

footer{
    margin:auto;
    padding-bottom: 0.5em;
    width:100%;
    max-width:25em;
    text-align:center;
    color:#608FB1;
    border-bottom: 3px solid #898989;
    font-size: 1.2rem;
}

footer a{
    color:#276b9c;
    text-decoration: none;
}

footer a:hover{
    color:#2b8bcf
}

footer em{
    color:#abb874;
}
